.osbake{
    position: absolute;
    top: 6%;
    left: 6%;
    background-color: #1f1d1d;
    width: 20%;
    height: 46%;
    border-radius: 15px;
}
.osbake-title{
    position: absolute;
    top: 25%;
    left: 5%;
}
.osbake-img{
    position: absolute;
    top: 2%;
    left: 3%;
}
.osbake-pricing{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 55%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    font-size: large;
    border-radius: 7px;
}
.osbake-tag{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.osbake-rating{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.dl-btn-osbake{
    position: absolute;
    top: 85%;
    left: 85%;
    background-color: #454FBF;
    padding: 5px;
    padding-left: 5px;
    font-size: x-large;
    border-radius: 7px;
    transition: all 150ms;
}
.dl-btn-osbake:hover{
    background-color: #4f58bd;
}
.osbake-os-support{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.apmc{
    position: absolute;
    top: 6%;
    left: 35%;
    background-color: #1f1d1d;
    width: 20%;
    height: 46%;
    border-radius: 15px;
}
.apmc-title{
    position: absolute;
    top: 25%;
    left: 5%;
}
.apmc-img{
    position: absolute;
    top: 2%;
    left: 3%;
}
.apmc-pricing{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 55%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    font-size: large;
    border-radius: 7px;
}
.apmc-tag{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.apmc-rating{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.dl-btn-apmc{
    position: absolute;
    top: 85%;
    left: 85%;
    background-color: #454FBF;
    padding: 5px;
    padding-left: 5px;
    font-size: x-large;
    border-radius: 7px;
    transition: all 150ms;
}
.dl-btn-apmc:hover{
    background-color: #4f58bd;
}
.apmc-os-support{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.awn{
    position: absolute;
    top: 6%;
    left: 65%;
    background-color: #1f1d1d;
    width: 20%;
    height: 46%;
    border-radius: 15px;
}
.awn-title{
    position: absolute;
    top: 25%;
    left: 5%;
}
.awn-img{
    position: absolute;
    top: 2%;
    left: 3%;
}
.awn-pricing{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 55%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    font-size: large;
    border-radius: 7px;
}
.awn-tag{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.awn-rating{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.dl-btn-awn{
    position: absolute;
    top: 85%;
    left: 85%;
    background-color: #454FBF;
    padding: 5px;
    padding-left: 5px;
    font-size: x-large;
    border-radius: 7px;
    transition: all 150ms;
}
.dl-btn-awn:hover{
    background-color: #4f58bd;
}
.awn-os-support{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.w2b{
    position: absolute;
    top: 55%;
    left: 6%;
    background-color: #1f1d1d;
    width: 20%;
    height: 46%;
    border-radius: 15px;
}
.w2b-title{
    position: absolute;
    top: 25%;
    left: 5%;
}
.w2b-img{
    position: absolute;
    top: 2%;
    left: 3%;
}
.w2b-pricing{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 55%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    font-size: large;
    border-radius: 7px;
}
.w2b-tag{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.w2b-rating{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}
.dl-btn-w2b{
    position: absolute;
    top: 85%;
    left: 85%;
    background-color: #454FBF;
    padding: 5px;
    padding-left: 5px;
    font-size: x-large;
    border-radius: 7px;
    transition: all 150ms;
}
.dl-btn-w2b:hover{
    background-color: #4f58bd;
}
.w2b-os-support{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75%;
    left: 5%;
    background-color: #454FBF;
    padding: 5px;
    border-radius: 7px;
}