
.summerframe{
    content: "";
    position: absolute;
    height: 600px;
    width: 350px;
    background-color: #1f1d1d;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 10px;
    left: 15%;
    top: 12.5%;
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 1;
}
.summer{
    height: 550px;
    width: 350px;
    border-radius: 7px;
}
.download-btn{
    color: whitesmoke;
    font-size: large;
    position: absolute;
    background-color: rgba(95, 88, 88, 0.644);
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    top: 91.5%;
    left: 10%;
}
.download-icn{
    color: whitesmoke;
    font-size: large;
}
.stream-btn{
    color: whitesmoke;
    font-size: large;
    position: absolute;
    background-color: rgba(95, 88, 88, 0.644);
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    top: 91.5%;
    left: 60%;
}
.stream-icn{
    color: whitesmoke;
    font-size: large;
}
.lofiframe{
    content: "";
    position: absolute;
    height: 600px;
    width: 350px;
    background-color: #1f1d1d   ;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 10px;
    left: 60%;
    top: 12.5%;
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 1;
}
.lofidream{
    height: 550px;
    width: 350px;
    border-radius: 7px;
}
.mobbar{
    display: none;
}
@media only screen and (max-width: 600px){
    ::-webkit-scrollbar {
        width: 20px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
      }
    .avatar{
        top: 5%;
        transform: scale(0.87);
    }
    .downloads{
        display: none;
    }
    .devices{
        display: none;
    }
    .music{
        display: none;
    }
    .brand-text{
        display: none;
    }
    .navbar{
        display: none;
    }
    .brand-logo{
        display: none;
    }
    .mobbar{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 7%;
        z-index: 33;
    }
    .mobbar.open{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 100%;
        z-index: 33;
    }
    .mobmenu{
        position: absolute;
        left: 40%;
        color: azure;
        text-align: center;
        font-size: xx-large;
        padding: 5px;
        transition: all 150ms;
        border-radius: 15px;
    }
    .moblink{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .moblink.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 10%;
        left: 40%;
    }
    .downnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .downnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 15%;
        left: 35%;
    }
    .devnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .devnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 20%;
        left: 38%;
    }
    .musicnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .musicnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 25%;
        left: 40%;
    }
    .lofiframe{
        position: absolute;
        top: 90%;
        left: -5%;
    }
}
@media only screen and (max-width: 480px) and (orientation: landscape){
    ::-webkit-scrollbar {
        width: 20px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
      }
    .avatar{
        top: 5%;
        transform: scale(0.87);
    }
    .downloads{
        display: none;
    }
    .devices{
        display: none;
    }
    .music{
        display: none;
    }
    .brand-text{
        display: none;
    }
    .navbar{
        display: none;
    }
    .brand-logo{
        display: none;
    }
    .mobbar{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 5%;
        z-index: 33;
    }
    .mobbar.open{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 100%;
        z-index: 33;
    }
    .mobmenu{
        position: absolute;
        left: 40%;
        color: azure;
        text-align: center;
        font-size: xx-large;
        padding: 5px;
        transition: all 150ms;
        border-radius: 15px;
    }
    .moblink{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .moblink.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 10%;
        left: 40%;
    }
    .downnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .downnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 20%;
        left: 38%;
    }
    .devnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .devnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 30%;
        left: 39.5%;
    }
    .musicnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .musicnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 40%;
        left: 40.5%;
    }
    .summerframe{
        position: absolute;
        left: -10%;
        right: -10%;
    }
    .lofiframe{
        position: absolute;
        top: 105%;
        left: -10%;
        right: -10%;
    }    
}