@import url('/fonts/fonts.css');
*{
    font-family: 'Quicksand', sans-serif;
    color: azure;
    text-decoration: none;
}
body{
background-color: darkslateblue;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
.avatar{
    position: absolute;
    top: 10%;
    left: 4%;
}
html{
    scroll-behavior: smooth;
}
.mobbar{
    display: none;
}
.navbar{
    position: relative;
    background-color: #2b2929;
    border-radius: 100px;
    padding: 7px;
}
.brand-logo{
    border-radius: 100px;
}
.brand-text{
    position: absolute;
    font-size: large;
    top: 35%;
    left: 4.5%;
}
.downloads{
    position: absolute; 
    top: 39%;
    left: 10.5%;
    font-size:medium;
}
.downloads:hover{
    color: #be6ffb;
    transition: all 150ms;
}
.downloads:not(hover){
    color: azure;
    transition: all 150ms;
}
.devices{
    position: absolute;
    top: 39%;
    left: 18.5%;
    font-size: medium; 
    color: #be6ffb;
}
.music{
    position: absolute;
    top: 39%;
    left: 25.5%;
    font-size: medium; 
}
.music:hover{
    color: #be6ffb;
    transition: all 150ms;
}
.music:not(hover){
    color: azure;
    transition: all 150ms;
}
.mobbar{
    display: none;
}
@media only screen and (max-width:600px){
    ::-webkit-scrollbar {
        width: 20px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
      }
    .avatar{
        top: 5%;
        transform: scale(0.87);
    }
    .downloads{
        display: none;
    }
    .devices{
        display: none;
    }
    .music{
        display: none;
    }
    .brand-text{
        display: none;
    }
    .navbar{
        display: none;
    }
    .brand-logo{
        display: none;
    }
    .mobbar{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 7%;
        z-index: 33;
    }
    .mobbar.open{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 100%;
        z-index: 33;
    }
    .mobmenu{
        position: absolute;
        left: 40%;
        color: azure;
        text-align: center;
        font-size: xx-large;
        padding: 5px;
        transition: all 150ms;
        border-radius: 15px;
    }
    .moblink{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .moblink.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 10%;
        left: 40%;
    }
    .downnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .downnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 15%;
        left: 35%;
    }
    .devnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .devnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 20%;
        left: 38%;
    }
    .musicnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .musicnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 25%;
        left: 40%;
    }
    .cherry{
        position: absolute;
        left: -9%;
    }
    .kirita{
        position: absolute;
        top: 90%;
        left: -9%;
    }
    .phoenix{
        position: absolute;
        top: 160%;
        left: -9%;
    }
    .coso{
        position: absolute;
        top: 230%;
        left: -9%;
    }
}
@media only screen and (min-width:701px) and (max-width:1200px) and (max-height:1200px) and (min-height:750px){
    ::-webkit-scrollbar {
        width: 20px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
      }
    .avatar{
        top: 5%;
        transform: scale(0.87);
    }
    .downloads{
        display: none;
    }
    .devices{
        display: none;
    }
    .music{
        display: none;
    }
    .brand-text{
        display: none;
    }
    .navbar{
        display: none;
    }
    .brand-logo{
        display: none;
    }
    .mobbar{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 5%;
        z-index: 33;
    }
    .mobbar.open{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 100%;
        z-index: 33;
    }
    .mobmenu{
        position: absolute;
        left: 40%;
        color: azure;
        text-align: center;
        font-size: xx-large;
        padding: 5px;
        transition: all 150ms;
        border-radius: 15px;
    }
    .moblink{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .moblink.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 10%;
        left: 40%;
    }
    .downnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .downnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 20%;
        left: 38%;
    }
    .devnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .devnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 30%;
        left: 39.5%;
    }
    .musicnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .musicnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 40%;
        left: 40.5%;
    }
    .cherry{
        position: absolute;
        left: 20%;
    }
    .kirita{
        position: absolute;
        top: 90%;
        left: 20%;
    }
    .phoenix{
        position: absolute;
        top: 160%;
        left: 20%;
    }
    .coso{
        position: absolute;
        top: 230%;
        left: 20%;     
}
}